@tailwind base;
@tailwind components;
@tailwind utilities;


.history-enter-active,
.history-leave-active {
  transition: all 0.3s ease;
}
.history-enter-from,
.history-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.counterMessage-enter-active, .actionMessage-enter-active,
.counterMessage-leave-active, .actionMessage-leave-active {
  transition: all 0.5s ease;
}
.counterMessage-enter-from, .actionMessage-enter-from,
.counterMessage-leave-to, .actionMessage-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}